.speech{font-family: "Times New Roman";
font-size: 15px;  color:black;}
.direction{font-family:Helvetica; 
font-size: 30px; color:black; background-color: lightskyblue;}
.direction:hover{color:red; 
background-color: darkviolet;}
.lomov{color:goldenrod;}
.natalya{color:hotpink;}

table{border:solid 5px darkred;
border-collapse: collapse;}

th{color:darkgreen;
text-align: center; padding: 7px;
margin: 5px;}

td{color:pink;
text-align: center; padding: 7px;
margin: 5px;}

tr:nth-child(even){
    background-color: purple;
}
tr:nth-child(odd){
    background-color: gray;
}